
<nav th:fragment="navbar"  style="position: absolute; width: 100%;top:0;z-index: 3;" 
class="navbar navbar-expand-lg navbar-dark p-0 font-weight-bold text-shodow-black">
        <a class="navbar-brand text-dark" href="#" th:href="@{/}" th:text="${firstName}">
            
            <!-- <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" th:href="@{/}" href="#" th:classappend="${#httpServletRequest.getRequestURI() == '/'} ? 'disabled' : ''">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/shop}" href="#" th:classappend="${#httpServletRequest.getRequestURI() == '/shop'} ? 'disabled' : ''">Shop</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/profile}" href="#" th:classappend="${#httpServletRequest.getRequestURI() == '/profile'} ? 'disabled' : ''">Profile</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#" th:classappend="${#httpServletRequest.getRequestURI() == '/login'} ? 'disabled' : ''">Login</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#" th:classappend="${#httpServletRequest.getRequestURI() == '/logout'} ? 'disabled' : ''">Logout</a>
                </li>
            </ul>
          <ul class="navbar-nav">
              <li class="nav-item ">
                  <a class="nav-link" style="color:#fff" th:href="@{/cart}" href="#">
                      <span>
                          <i class="fas fa-shopping-cart "></i>
                          <span
                          class="badge bg-danger"
                          th:text="${cartCount}"
                          style="width: 30px;
                          height: 30px;
                          padding: 15.2px 7.8px;
                          font-size: 27px;
                          border-radius: 26px;
                          transform: perspective(0px) translate(-12px) rotate(0deg) scale(0.50);
                          transform-origin: top;
                          padding-right: 0;
                          padding-top: 0.2px;
                          padding-left: 0.2px;
                          text-align: center;border-width: 48px;
                          " ></span>
                      </span>
                  </a>
              </li>
          </ul>
      </div>
    <style>
        .disabled {
        pointer-events: none;
        color: white !important; /* Change the color to indicate it's disabled */
    }
    </style>
</nav>