<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragment/_header :: header"></div>
<body>
    <div th:replace="fragment/_navbaradmin :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form th:action="@{/admin/categories/add}" method="post" th:object="${category}" enctype="multipart/form-data">
                <input type="hidden" name="id"  th:field="*{id}">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" required th:field="*{name}" name="name" id="name"  placeholder="Enter name">
                    <br/>
                        <label>Category Image</label>
                        <div class="custom-file">
                            <input type="file"  class="custom-file-input" name="categoryImage" accept="image/jpeg, image/png"  id="categoryImage"/>
                            <label class="custom-file-label" for="categoryImage">Choose file</label>
                        </div>
                        <div class="form-group">
                            <img src="#" id="imgPreview" height="100px" width="100px" th:src="@{${'/categoryImages/' + category.imageName}}" style="margin-top: 20px" alt=" ">
                        </div>
                        <input type="hidden" name="imgName" th:value="${category.imageName}">
                  
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    function readURL(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                $('#imgPreview').attr('src', e.target.result).width(100).height(100);
            }
            reader.readAsDataURL(input.files[0])
        }
    }
    $('#categoryImage').change(function(){
        readURL(this);
    });
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>