<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <div th:replace="fragment/_header :: header"></div>
     <link type="text/css" rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}"/>
<body>
  <div th:replace="fragment/_navbarhome :: navbar"></div>
<main  style="min-height: 100vh;">
  <section class="main-content fade-in-without-delay" style="background-image: url('/images/banner.jpg')">

      <div class="container-fluid d-flex align-items-center justify-content-around text-center" style="padding-top: 50px !important;padding-bottom: 50px !important;padding-left:0;padding-right: 0; background: linear-gradient(180deg, rgba(0,0,0,0.010037291283701011) 0%, rgba(0,0,0,0.3041549383425245) 32%, rgba(0,0,0,0.8055554985666141) 93%, rgba(0,0,0,1) 100%);"> 
        <div class="mb-4 mt-5">
        <h2 class="text-light mb-4 slide-in-from-left text-shodow-black">
          <span class="display-4 font-weight-bold">See it. Love it</span>
          <span class="d-block font-weight-bold">Choose it. <strong>Buy it</strong></span>
        </h2>
          <div class="col-12 d-none d-lg-block">
            <div class="alert alert-modern alert-dark fade-in-with-delay-1 text-center">
              <span class="alert-content"><b>Memo-Kart</b>, your one stop shop!</span>
            </div>
          </div>
        <p class="lead text-light slide-in-from-right text-shodow-black"><strong>Memo-Kart is one of the best online shopping platforms for electronics.</strong></p>
        <div class="mt-3">
          <a href="#categories" style="border-width: 3.5px;" class="btn fade-in-with-delay-2 btn-outline-danger text-danger rounded-pill hover-translate-y-n3 btn-icon mr-sm-4">
            <span class="btn-inner--text font-weight-bold">Categories</span>
            <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
          </a>
          <a href="#features" style="border-width: 3.5px;" class="btn fade-in-with-delay-2 btn-outline-warning text-warning btn-border-width rounded-pill hover-translate-y-n3 btn-icon d-none d-xl-inline-block">
            <span class="btn-inner--icon"><i class="fas fa-file-alt"></i></span>
            <span class="btn-inner--text font-weight-bold">Features</span>
          </a>
        </div>
      </div>
  </section>

  <!-- product: Carousel -->
  <section id="products">
    <div class="wrapper">
      <i id="left" class="fa fa-arrow-left"></i>
      <ul class="carousel" >
        <li class="card" th:each="product, iStat : ${products}">
          <a  href="#" th:href="@{/shop/viewproduct/{id}(id=${product.id})}" style="color: #000000; text-decoration: none; text-align: center;">
          <div class="img"><img src="/images/img1.jpg" alt="img" th:src="@{${'/productImages/' + product.imageName}}" th:alt="${product.name}" draggable="false"></div>
          <h2 th:text="${ '₹' + product.price}">Blanche Pearson1</h2>
          <span th:text="${product.name}">Sales Manager</span>
          </a>
        </li>
      </ul>
      <i id="right" class="fa fa-arrow-right"></i>
    </div>
  </section>


  <!-- categories -->
    <section id="categories">
        <h1 class="text-dark my-4 text-center">
          Browse our Product Categories
        </h1>
      <div class="container my-5">
        <div class="row">
          <div class="col-lg-4 col-sm-6 mb-2" th:each="category, iStat : ${categories}">
            <div class="card catlink">
              <a href="#" th:href="@{/shop/category/{id}(id=${category.id})}" style="text-decoration: none;">
              <img src="" height="100px" width="100px"  th:src="@{${'/categoryImages/' + category.imageName}}" th:alt="${category.name}" style="position: absolute;top:0;left:0;width: 100%;height: 100%;">
              <div class="card-body cardbody p-0 d-flex align-items-end" 
              style="position: relative; z-index: 1;
               background-color: rgba(0, 0, 0, 0.5); height: 15rem;
                padding-bottom: 0.5rem;
               ">
                 
                 <div style="width:80%">
                   <span th:text="${category.name}"  
                   class="text-white text-shodow-black font-weight-bold ml-1"
                   style="font-size: 1.5rem;"
                   >Item 1</span>
                   <div class="underline"></div>
                  </div>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- features -->
    <section id="features">
      <div class="container my-5">
        <div class="row">
          <div class="col-md-6 col-lg-4 column">
            <div class="cardcus gr-1">
              <div class="txt">
                <h1>Customer Satisfaction </br>
                  Guaranteed</h1>
                  <p>Your satisfaction is our top priority. Benefit from our highly responsive customer support team, always ready to assist you with any queries or concerns promptly and effectively.</p>
              </div>
              <a href="#">more</a>
              <div class="ico-card">
                <i class="fa fa-cannabis"></i>
            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 column">
            <div class="cardcus gr-2">
              <div class="txt">
                <h1>Secure </br>
                  Transactions</h1>
                  <p> Shop with confidence knowing that your transactions are secure. We employ the latest encryption technology to safeguard your personal and financial information.</p>
              </div>
              <a href="#">more</a>
            
              <div class="ico-card">
              <i class="fa fa-lock"></i>
            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 column">
            <div class="cardcus gr-3">
              <div class="txt">
                <h1>Competitive</br>Prices</h1>
                <p>We understand the value of your hard-earned money. Enjoy competitive prices on all our products, ensuring you get the best deals without compromising on quality.</p>
              </div>
              <a href="#">more</a>
            <div class="ico-card">
              <i class="fa fa-money-bill-wave"></i>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- about -->
    <section>
      <div class="container mt-3">
        <div class="row justify-content-around align-items-center">
          
          <div class="col-lg-6 text-center">
            <h5 class="h3 font-weight-bold">Revolutionize Your Tech Experience with Memo Kart's E-Commerce Haven!</h5>
            </div>
         
        </div>
        <div class="row justify-content-around align-items-center">
          <div class="col-lg-6 order-lg-1">
            <img alt="Image placeholder" src="/images/img1.jpg" class="img-fluid image-center" >
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class=" pr-lg-4">
              <p class="lead display-6">
                Welcome to Memo Kart's Electronics Emporium, where cutting-edge technology meets unbeatable convenience. Our e-commerce website is your one-stop destination for all things electronic, offering a seamless and enriching shopping experience.
              </p>
              <p class="lead display-6">
                Discover a vast array of top-notch gadgets, from the latest smartphones to state-of-the-art home appliances, all carefully curated to cater to your tech-savvy needs. Memo Kart's E-Commerce ensures that you stay ahead of the curve with the most innovative and reliable electronic products.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section> 
  </main>
    <div th:replace="fragment/_footer :: footer"></div>
      
  </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
 const wrapper = document.querySelector(".wrapper");
const carousel = document.querySelector(".carousel");
const firstCardWidth = carousel.querySelector(".card").offsetWidth;
const arrowBtns = document.querySelectorAll(".wrapper i");

let isDragging = false, isAutoPlay = true, startX, startScrollLeft, timeoutId;

// Duplicate the cards for infinite scrolling
carousel.innerHTML += carousel.innerHTML;

// Add event listeners for the arrow buttons to scroll the carousel left and right
arrowBtns.forEach(btn => {
    btn.addEventListener("click", () => {
        carousel.scrollLeft += btn.id == "left" ? -firstCardWidth : firstCardWidth;
    });
});

const dragStart = (e) => {
    isDragging = true;
    carousel.classList.add("dragging");
    // Records the initial cursor and scroll position of the carousel
    startX = e.pageX;
    startScrollLeft = carousel.scrollLeft;
}

const dragging = (e) => {
    if (!isDragging) return; // if isDragging is false return from here
    // Updates the scroll position of the carousel based on the cursor movement
    carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
}

const dragStop = () => {
    isDragging = false;
    carousel.classList.remove("dragging");
}

const infiniteScroll = () => {
    // If the carousel is at the beginning, smoothly scroll to the end
    if (carousel.scrollLeft === 0) {
        carousel.scrollTo({
            left: carousel.scrollWidth - carousel.offsetWidth,
            behavior: 'smooth'
        });
    }
    // If the carousel is at the end, smoothly scroll to the beginning
    else if (Math.ceil(carousel.scrollLeft) === carousel.scrollWidth - carousel.offsetWidth) {
        carousel.scrollTo({
            left: carousel.offsetWidth,
            behavior: 'smooth'
        });
    }

    // Clear existing timeout & start autoplay if the mouse is not hovering over the carousel
    clearTimeout(timeoutId);
    if (!wrapper.matches(":hover")) autoPlay();
}
const autoPlay = () => {
    if (window.innerWidth < 800 || !isAutoPlay) return; // Return if the window is smaller than 800 or isAutoPlay is false
    // Autoplay the carousel after every 2500 ms
    timeoutId = setTimeout(() => carousel.scrollLeft += firstCardWidth, 2500);
}
autoPlay();

carousel.addEventListener("mousedown", dragStart);
carousel.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
carousel.addEventListener("scroll", infiniteScroll);
wrapper.addEventListener("mouseenter", () => clearTimeout(timeoutId));
wrapper.addEventListener("mouseleave", autoPlay);

</script>
</body>
</html>